.homeContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
  }

  .bg-img{
    background-color: rgb(230, 230, 230);  
    width: 100%;
    overflow: hidden;
  }

  
  .homeTitle{
    width: 1024px;
    font-size: 20px;
  }